// *
// * Pleasant Tours - reset.css
// * Author: Ggero Mpyangu
// * Version: 1.0.0
// *
// *****************************************************/



/* -------------------------------------------------------- */
/* Reset 																										*/
/* -------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
}


