/*
 * Pleasant Tours - header.css
 * Author: Ggero Mpyangu
 * Version: 1.0.0
 *
 ========================================================= */

@import "config\colors";

body {
	background-color: $background-color;
	color: $foreground-color;
	padding-right: 20px;
}

nav {
	width: 960px;
	margin: 10px auto;
}

a {
 color:inherit;
 padding-right: 20px;
 vertical-align: baseline;
}

a.last {
	padding-right: 0;
}

.brand{
	float: left;
	font-size: 1.2em;
}

div.float-right {
	float: right;
}
